.centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.button {
    width: 583.5px;
    height: 171px; 
    border-radius: 37.5px;
    position: absolute;
    border: none;
    transition: background-color 0.3s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.onderzoekspagina-button {
    left: 100px;
    top: 380px;
    background: #285462;
}

.onderzoekspagina-button:hover {
    background-color: #EB790B;
}

.chats-button {
    left: 800px;
    top: 380px;
    background: #3B987C;
}

.chats-button:hover {
    background-color: #EB790B;
}

.profiel-updaten-button {
    left: 100px;
    top: 100px;
    background: #3B987C;
    transition: color 0.3s;
}

.profiel-updaten-text:hover {
    color: white;
}

.profiel-updaten-button:hover {
    background-color: #EB790B;
}

.info-clickstream-button {
    left: 800px; 
    top: 100px;
    background: #285462;
}

.info-clickstream-button:hover {
    background-color: #EB790B;
}

.text {
    position: static;
    font-size: 72px; 
    font-family: sans-serif;
    font-weight: 400;
    word-wrap: break-word;
}

.onderzoekspagina-text {
    color: white;
    font-size: 400%;
}

.chats-text {
    color: #131B56;
}

.profiel-updaten-text {
    color: #131B56;
}

.info-clickstream-text {
    color: white;
}
