.onderzoeken-table {
    border: 2px solid #111329;
    background-color: #8babf1;
    color: black;
    font-size: large;
    width: 98%;
    margin-left: 1%;
}
.beheer-onderzoeken-container {
    height: 650px;
    overflow-y: scroll;
}

.onderzoek-verander-container {
    width: 98%;
    box-sizing: border-box;
    padding-top: 25px;
    display: flex;
    margin-left: 1%;
}

.onderzoek-verander-container textarea {
    width: 73%;
    height: 100px;
    box-sizing: border-box;
    margin-right: 2%;
    padding: 10px;
    font-size: medium;
    background-color: #8babf1;
    resize: none;
}

.onderzoek-verander-container button {
    width: 25%;
    box-sizing: border-box;
    padding: 10px;
    font-size: x-large;
    background-color: #8babf1;
    border: 1px solid #3d63be;
    cursor: pointer;
    color: black;
}

.custom-button {
    background-color: #a3d0f3;
    border: 1px solid #3d63be;
    cursor: pointer;
    color: #131B56;
}

.custom-button:hover {
    background-color: #75aed9;
}

.onderzoek-verander-container button:hover {
    background-color: #6b7fe7;
}