.total-container {
    display: flex;
}

.onderzoeken-container {
    flex: 2;
}

.onderzoek-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: rgb(217, 235, 247, 0.7);
    border-radius: 15px;
    padding: 10px;
    overflow: hidden;
}

.onderzoek-list {
    overflow-y: scroll;
    height: 675px;
    scrollbar-width: thin;
}

.onderzoek-list::-webkit-scrollbar {
    width: 12px;
}

.onderzoek-list::-webkit-scrollbar-thumb {
    background-color: #3498db;
    border-radius: 6px;
}

.onderzoek-list::-webkit-scrollbar-track {
    background-color: rgba(217, 235, 247, 0.7);
    border-radius: 8px;
}

.onderzoek-item {
    display: block;
    margin: 5px;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 95%;
    height: 80px;
    text-align: center;
}

.selected {
    background-color: #166da6;
}

.onderzoek-item:hover {
    background-color: #2980b9;
}

.onderzoek-info {
    display: flex;
    flex-direction: column;
    flex: 7;
    background: rgb(217, 235, 247, 0.7);
    border-radius: 15px;
    padding: 25px;
    margin-left: 25px;
    margin-right: 30px;
    position: relative;
}

.location-container {
    padding-top: 25px;
    color: #131B56;
}

.age-container {
    position: absolute;
    bottom: 0;
    right: 0;
    white-space: nowrap;
    margin-right: 4%;
    margin-bottom: 3%;
    color: #131B56;
}

.date-container {
    padding-top: 25px;
    color: #131B56;
}

.onderzoek-titel {
    color: #131B56;
}

.beperking-container {
    padding-top: 25px;
    color: #131B56;
}

.beschrijving-container {
    padding-top: 25px;
    color: #131B56;
}



