.Profielpagina-container {
        background-color: rgba(217, 235, 247, 0.7);
        border-radius: 25px;
        margin-top: -15px;
        align-self: auto;
}
.Profielpagina-container h1 {
        padding-left: 15px;
        padding-top: 15px;
        color: #131B56;
        font-weight: bold;
        font-size: 50px;
}
.Profielpagina-container h2 {
        padding-left: 15px;
        margin-top: 30px;
        color: #131B56;
        font-weight: bold;
        font-size: 40px;
}
.Profielpagina-container h3 {
        padding-left: 15px;
        color: #131B56;
        font-weight: bold;
        font-size: 30px;
}
.Profielpagina-container h4 {
        padding-left: 15px;
        color: #131B56;
        font-weight: normal;
        font-size: 30px;
}
.Profielpagina-container h4.specialh4 {
        /* Stijl voor h4 elements met de values voor contactvoorkeur en commercieel geïnteresseerd */
        margin-top: 30px;
        padding-left: 15px;
        color: #131B56;
        font-weight: normal;
        font-size: 30px;
}

.Info-container {
        display: flex;
        align-items: center;
}

.Info-container div {
        padding-left: 15px;
        margin-right: 10px; 
}
.Info-container2 {
        display: flex;
        align-items: center;
}

.Info-container2 div {
        margin-right: 10px;
}

.Profielpagina-container ul {
        list-style-type: disc; 
        margin-left: 15px; 
}
.Profielpagina-container ul li {
        margin-left: 10px;
        color: #131B56;
        font-weight: normal;
        font-size: 30px; 
}