/* YourComponent.css */

.Desktop11 {
    width: 1920px;
    height: 2043px;
    position: relative;
    background: #131B56;
}

.ProfielUpdaten {
    left: 731px;
    top: 5px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 64px;
    font-family: sans-serif;
    font-weight: 700;
    word-wrap: break-word;
}


.OpslaanLink {
    width: 371.14px;
    height: 94px;
    left: 84px;
    top: 700px;
    position: absolute;
    background: #3B987C;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.OpslaanLink:hover{
background-color: #EB790B;
}

.Opslaan {
    color: #131B56;
    font-size: 80px;
    font-family: sans-serif;
    font-weight: 400;
    word-wrap: break-word;
}
.bedrijf {
    top: 285px;
    left: 215px;
    width: 176px;
    height: 80.5px;
    overflow: hidden;
    font-family: sans-serif;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    color:#3B987C;
}
.bedrijfdb {
    top: 349px;
    left: 211px;
    width: 211.4px;
    height: 94.4px;
    overflow: hidden;
    font-family: Roboto;
    font-size: 64px;
    font-weight: bold;
    text-align: center;
    color:#FFFFFF;
}

.informatie {
    top: 527px;
    left: 215px;
    width: 269px;
    height: 80.5px;
    overflow: hidden;
    font-family: sans-serif;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    color:#3B987C;
}
.informatiedb {
    top: 578px;
    left: 211px;
    width: 1546.4px;
    height: 94.4px;
    overflow: hidden;
    font-family: sans-serif;
    font-size: 64px;
    font-weight: bold;
    text-align: center;
    color:#FFFFFF;
}

.locatie {
    top: 772px;
    left: 215px;
    width: 193px;
    height: 80.5px;
    overflow: hidden;
    font-family: sans-serif;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    color:#3B987C;
}
.locatiedb {
    top: 823px;
    left: 213px;
    width: 290.4px;
    height: 94.4px;
    overflow: hidden;
    font-family: sans-serif;
    font-size: 64px;
    font-weight: bold;
    text-align: center;
    color:#FFFFFF;
}

.link {
    top: 1020px;
    left: 215px;
    width: 116px;
    height: 80.5px;
    overflow: hidden;
    font-family: sans-serif;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    color:#3B987C;
}
.linkdb {
    top: 1071px;
    left: 213px;
    width: 419.4px;
    height: 94.4px;
    overflow: hidden;
    font-family: sans-serif;
    font-size: 64px;
    font-weight: bold;
    text-align: center;
    color:#FFFFFF;
}
